{% extends 'core/base-inicial.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %}
    Aceptar productos 
{% endblock %}

{% block contenido %}
        <p class="lead text-center">
            Si desea enviar una observación al aceptar sus productos,
            por favor ingrese este en la caja de observación y
            posteriormente presione el botón enviar.
        </p>
            <h4>Datos de la orden de compra</h4>
            <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
                <tbody>
                    <tr>
                        <td>Fecha</td>
                        <td>{{ orden.OrderDate }}</td>
                    </tr>
                    <tr>
                        <td>Condición de pago</td>
                        <td>{{ orden.PaymentCondition.ConditionDescription }}</td>
                    </tr>
                    <tr>
                        <td>Descuento</td>
                        <td>{{ orden.OrderDiscount }} %</td>
                    </tr>
                    <tr>
                        <td>Observación</td>
                        <td>{{ orden.Observation }}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        {% if orden.Status == 6 %}
                            <td>Pedido entregado</td>         
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <h4>Detalle de la orden de compra</h4>
            <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
                <theader>
                    <th></th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </theader>
                <tbody>
                        {% for detail in details %}
                            <tr>
                                <td class ="text-right">{{ forloop.counter }}</td>
                                <td>{{ detail.ProductName}}</td>
                                <td>{{ detail.Quantity}} KG<br></td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <h4>Totales</h4>
            <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
                <tbody>
                    <tr>
                        <td>Valor Neto</td>
                        <td>{{ orden.NetValue|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>Valor con IVA</td>
                        <td>{{ orden.Iva|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>Descuento</td>
                        <td>{{ orden.DiscountValue|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>Valor Total</td>
                        <td>{{ orden.TotalValue|floatformat:0 }}</td>
                    </tr>
                    <tr>
                        <td>Total a pagar</td>
                        <td>{{ orden.Amount|floatformat:0 }}</td>         
                    </tr>
                </tbody>
            </table>
    <form class="text-justify border border-light p-5" method="post" id=OrderAcceptForm>           
        {% csrf_token %}
        {% if form.non.field.errors %}
            {{ form.non.field.errors }}
        {% endif %}
        <table class="tabla table-responsive">
            {{ form }}
        </table>
        <button type="submit" class="btn btn-success mt-3">Enviar aceptación de productos</button>
        <a class="btn btn-light" href="{{ order.get_absolute_order_received_url }}" role="button"> Cancelar </a>
    </form>     
{% endblock %}
