{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Historial de pagos
{% endblock %}

{% block contenido %}
    <p class lead text-justify">
        La orden de compra posee la siguiente información, puede visitar periodicamente 
        el apartado de historial de solicitudes para poder dar seguimiento a sus 
        ordenes de compra y visualizar de esta manera su estado y en que proceso se encuentra.<br>
        No dude en escribirnos o llamarnos en caso de consultas, dudas o 
        posibles problemas que puedan sucitarse con sus ordenes de compras.
    </p>

    <div class="table-responsive justify-content-center">
        <h4>Datos de la orden de compra</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td>Fecha</td>
                    <td>{{ order.OrderDate }}</td>
                </tr>
                <tr>
                    <td>Condición de pago</td>
                    <td>{{ order.PaymentCondition.ConditionDescription }}</td>
                </tr>
                <tr>
                    <td>Descuento</td>
                    <td>{{ order.OrderDiscount }} %</td>
                </tr>
                <tr>
                    <td>Observación</td>
                    <td>{{ order.Observation }}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    {% if order.Status == 7 %}
                        <td>Orden aceptada</td>         
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <h4>Detalle de la orden de compra</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <theader>
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
            </theader>
            <tbody>
                    {% for detail in order_detail %}
                        <tr>
                            <td class ="text-right">{{ forloop.counter }}</td>
                            <td>{{ detail.ProductName}}</td>
                            <td>{{ detail.Quantity}} KG<br></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        <h4>Detalle de pago</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td>Fecha de pago</td>
                    <td>{{ payment.PaymentDate }}</td>
                </tr>
                <tr>
                    <td>Método de pago</td>
                    <td>{{ payment.PaymentMethod.MethodDescription }}</td>
                </tr>
                {% if payment.Observation == None %}
                <tr>
                    <td style="display:none">Observación</td>
                {% else %}
                    <td>Observación</td>    
                    <td>{{ payment.Observation }} </td>
                {% endif %}    
                </tr>
                <tr>
                    <td>Valor Neto</td>
                    <td>(+) ${{ order.NetValue|floatformat:0 }}</td>
                </tr>
                <tr>
                    <td>IVA (Impuesto 19%)</td>
                    <td>(+) ${{ order.Iva|floatformat:0 }}</td>
                </tr>
                {% if order.OrderDiscount == 0 %}
                {% else %}
                <tr>
                    <td>Descuento ({{ order.OrderDiscount }}%)</td>
                    <td>(-) ${{ order.DiscountValue|floatformat:0 }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Total a pagar</td>
                    <td><strong>(=) ${{ order.Amount|floatformat:0 }}</strong></td>         
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <a class="btn btn-success"
        href="{% url 'listarOrdenesRechazadas' %}" role="button"> Volver </a>

{% endblock %}