{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Registro de ordenes de compra
{% endblock %}

{% block contenido %}
    {% if not comercial %}
        <p class="lead">
            Hemos notado que aún no ha ingresado sus datos comerciales, 
            esta información es relevante para que pueda realizar ventas 
            en la plataforma, por favor, ingrese estos datos lo antes 
            posible.<br>
            Si desea ingresarlos en este momento, pulse el botón "Crear" para iniciar el 
            proceso de registro.
        </p>
        <a class="btn btn-primary " href="{% url 'registrarComercial' %}" role="button"> Crear datos comerciales </a>
        <a class="btn btn-light" href="{% url 'dinamicHome' %}" role="button"> Volver </a>    
    {% else %}
        <p class="small">
            Registre su orden de compra, una vez que este listo, pulse
            el botón "grabar orden".<br>
            procesaremos su orden de compra y notificaremos por correo 
            electrónico cuando tengamos las mejores ofertas para usted, 
            posteriormente podrá aceptar la propuesta para luego seguir con el 
            proceso de compra de los productos solicitados.
        </p>
        <h4>Datos de la orden de compra</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    <!-- Datos comerciales -->
                    <div class="row">
                        <div class="col-lg-4">
                            Empresa: {{ comercial.CompanyName}}
                        </div>
                        <div class="col-lg-4">
                            Nombre de fantasía: {{ comercial.FantasyName}}
                        </div>
                        <div class="col-lg-4">
                            Giro comercial: {{ comercial.ComercialBusiness}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            DNI: {{ comercial.ComercialDNI }}
                        </div>
                        <div class="col-lg-4">
                            Email: {{ comercial.Email }}
                        </div>
                        <div class="col-lg-4">
                            Teléfono: {{ comercial.PhoneNumber }}
                        </div>
                    </div>
                    <div class="row py-1, px-2">
                        <div class="col-lg-4">
                            Dirección: {{ comercial.Address }}
                        </div>
                        <div class="col-lg-4">
                            Ciudad: {{ comercial.City.CityName }}
                        </div>
                        <div class="col-lg-4">
                            País: {{ comercial.Country.CountryName }}
                        </div>
                    </div>

                    <!-- Datos del formulario de orden de compra -->
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Fecha</label>
                            {{ form.OrderDate }}
                        </div>
                        <div class="col-lg-4">
                            <label>Condición de pago</label>
                            {{ form.PaymentCondition }}
                        </div>
                        <div class="col-lg-4">
                            <label>Descuento</label>
                            {{ form.OrderDiscount }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Observación :</label>
                            {{ form.Observation }}
                        </div>
                    </div>
                    <br><br>

                    <!-- formulario de detalle de orden de compra -->
                    <h4>Detalle de orden de compra</h4>
                    {{ OrderDetailFormSet.management_form }}
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Producto</label>
                        </div>
                        <div class="col-lg-4">
                            <label>Cantidad</label>
                        </div>
                    </div>
                    {% for OrderDetailForm in OrderDetailFormSet %}
                        <div class="row">
                            <div class="col-lg-4">
                                {{ OrderDetailForm.Product }}
                            </div>
                            <div class="col-lg-4">
                                {{ OrderDetailForm.Quantity }}
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <button class="btn btn-lg btn-success" type="submit"> Grabar orden </button>
                    <a class="btn btn-light" href="{% url 'listarOrdenes' %}" role="button"> Cancelar </a>
                </form>
            </div>
        </div>
        <br><br>
    {% endif %}
{% endblock %}