{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Visualizar orden de compra
{% endblock %}

{% block contenido %}
    <p class lead text-justify">
        La orden de compra posee la siguiente información, puede visitar periodicamente 
        el apartado de historial de solicitudes para poder dar seguimiento a sus 
        ordenes de compra y visualizar de esta manera su estado y en que proceso se encuentra.<br>
        No dude en escribirnos o llamarnos en caso de consultas, dudas o 
        posibles problemas que puedan sucitarse con sus ordenes de compras.
    </p>




    <div class="table-responsive justify-content-center">
        <h4>Datos de la orden de compra</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td>Fecha</td>
                    <td>{{ order.OrderDate }}</td>
                </tr>
                <tr>
                    <td>Condición de pago</td>
                    <td>{{ order.PaymentCondition.ConditionDescription }}</td>
                </tr>

                <tr>
                    <td>Datos de la orden de compra</td>
                    <td>
                        Fecha: {{ order.OrderDate }}<br>
                        Condición de pago: {{ order.PaymentCondition.ConditionDescription }}<br>
                        Descuento: {{ order.OrderDiscount }} %<br>
                        Observación: {{ order.Observation }}<br> 
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Detalle de la orden de compra</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <theader>
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
            </theader>
            <tbody>
                    {% for detail in order_detail %}
                        <tr>
                            <td class ="text-right">{{ forloop.counter }}</td>
                            <td>{{ detail.ProductName}}</td>
                            <td>{{ detail.Quantity}} KG<br></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <a class="btn btn-primary" 
        href="{{ order.get_update_url }}" role="button"> Actualizar orden de compra </a>
    <a class="btn btn-danger" 
        href="{{ order.get_delete_url }}" role="button"> Eliminar orden de compra </a>
    <a class="btn btn-success"
        href="{% url 'listarOrdenes' %}" role="button"> Volver </a>

{% endblock %}