{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Lista de ordenes de compra
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col col-6">
            <form class="form-inline my-2 my-lg-0" action="{% url 'listarOrdenes' %}" method="get" accept-charset="utf-8">
                <label class="control-label" for="buscar">Fecha desde:</label>
                <input name="q1" class="form-control mr-sm-2" type="date" aria-label="buscar" value="">
                <label class="control-label" for="buscar">Hasta:</label>
                <input name="q2" class="form-control mr-sm-2" type="date" aria-label="buscar" value="">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar </button>
            </form>
        </div>
        <div class="col col-1"></div>
        <div class="col col-2">
            <a class="btn btn-secondary" 
                href="{% url 'actualizarListaOrdenes' %}" role="button"> Actualizar lista</a>
        </div>
        <div class="col col-1"></div>
        <div class="col col-2">
            <a class="btn btn-primary" 
                href="{% url 'registrarOrden' %}" role="button"> Nueva orden</a>
        </div>
    </div>
    <hr class="col-12">
    
    <!-- Listando las ordenes de compra -->
    {% if order_list %}
        <table class="table table-responsive table-hover table-striped mx-auto" style="width: 750px;">
            <thead>
                <tr>
                    <th>Orden Nro.</th>
                    <th>Fecha solicitud</th>
                    <th>Condición de pago</th>
                    <th>Descuento</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="py-0">
                {% for order in order_list %}
                <tr>
                    <td class="text-right py-0">{{ order.id }}</td>
                    <td class="py-0">{{ order.OrderDate }}</td>
                    <td class="py-0">{{ order.PaymentCondition.ConditionDescription }}</td>
                    <td class="text-right py-0">${{ order.OrderDiscount }}%</td>
                    {% if order.Status == 1 %}
                    <td class="py-0" style="text-transform: uppercase">Orden recepcionada</td>
                    {% elif order.Status == 2 %}
                    <td class="py-0" style="text-transform: uppercase">Propuesta generada</td>
                    {% elif order.Status == 3 %}
                    <td class="py-0" style="text-transform: uppercase">Subasta publicada</td>
                    {% elif order.Status == 4 %}
                    <td class="py-0" style="text-transform: uppercase">Transporte asignado</td>
                    {% elif order.Status == 5 %}
                    <td class="py-0" style="text-transform: uppercase">Pedido despachado</td>
                    {% endif %}
                    <td class="py-0">
                        <a class="btn btn-light" 
                            href="{{ order.get_absolute_url }}" role="button"> Ver detalles </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Menú de paginación -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;&laquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li><li class="page-item "><a class="page-link" href="?page=last">&raquo;&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    <!-- Aqui parte la seccion cuando no hay nada ingresado -->
    {% else %}
        <p class="lead text-justify">
            No hay ordenes de compras registradas o 
            la busqueda no produjo ningún resultado.<br>
        </p>
    {% endif %}

    <!-- volver a la pagina de inicio -->
    <br>
    <div class="text-center">
    <a class="btn btn-secondary" href="{% url 'dinamicHome' %}" role="button"> Volver página de inicio </a>
    </div>

{% endblock %}