{% extends 'core/base-inicial.html' %}
{% load static %}
{% block titulo %}
    Actualización de orden de compra
{% endblock %}

{% block contenido %}
    <p class="small">
        Actualice su orden de compra, una vez que este listo, pulse
        el botón "Actualizar orden".<br>
        Recuerde que una vez procesada su orden de compra, 
        esta ya no podrá ser actualizada.
    </p>
    <h4>Datos de la orden de compra</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="form-container" method="post" action="">
                {% csrf_token %}
                <!-- Datos del formulario de orden de compra -->
                <div class="row">
                    <div class="col-4">
                        <label class="font-weight-bold">Fecha</label>
                        {{ form.OrderDate }}
                    </div>
                    <div class="col-4" style="height: 50px;">
                        <label class="font-weight-bold">Condición de pago</label>
                        {{ form.PaymentCondition }}
                    </div>
                    <div class="col-4">
                        <label class="font-weight-bold">Descuento</label>
                        {{ form.OrderDiscount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="font-weight-bold">Observación</label>
                        {{ form.Observation }}
                    </div>
                </div>
                <br><br>

                <!-- formulario de detalle de orden de compra -->
                <h4>Detalle de orden de compra</h4>
                {{ order_detail.management_form }}
                <table class="col-md-7 table-responsive mx-auto" style="width: 500px;">
                    <thead>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th></th>
                    </thead>
                    {% for detalle in order_detail %}
                    <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ order_detail.prefix }}">
                        {% for field in detalle.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in detalle.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br><br><br>
                <button class="btn btn-m btn-success" type="submit"> Actualizar orden </button>
                <a class="btn btn-light" href="{% url 'listarOrdenes' %}" role="button"> Cancelar </a>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}

{% block jsBody %}
<script src='{% static "core/vendor/jquery/jquery.formset.js" %}'></script>
<script type="text/javascript">
    $('.formset_row-{{ order_detail.prefix }}').formset({
        addText: 'Agregar producto',
        deleteText: 'Quitar',
        prefix: '{{ order_detail.prefix }}',
    });
</script>
{% endblock %}
