{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Visualizar orden de compra
{% endblock %}

{% block contenido %}
    <p class lead text-justify">
        La orden de compra posee la siguiente información, puede visitar periodicamente 
        el apartado de historial de solicitudes para poder dar seguimiento a sus 
        ordenes de compra y visualizar de esta manera su estado y en que proceso se encuentra.<br>
        No dude en escribirnos o llamarnos en caso de consultas, dudas o 
        posibles problemas que puedan sucitarse con sus ordenes de compras.
    </p>

    <h1> Aqui colocar el detalle de la orden </h1>>

    <br><br>
    <a class="btn btn-primary" 
        href="{{ order.get_update_url }}" role="button"> Actualizar orden de compra </a>
    <a class="btn btn-danger" 
        href="{{ order.get_delete_url }}" role="button"> Eliminar orden de compra </a>
    <a class="btn btn-success"
        href="{% url 'listarOrdenes' %}" role="button"> Volver </a>

{% endblock %}