{% extends 'core/base.html' %}

{% block titulo %}
    Cliente interno
{% endblock %}

{% block menu %}
<a class="enlace" href="{% url 'iniciarComercial' %}">Datos comerciales</a>
    <br><br>
    <a class="text-justify text-center"><b>Ordenes de compra</b></a>
    <br>
    <a class="enlace" href="{% url 'listarOrdenes' %}">Lista de ordenes</a>
    <br>
    <a class="enlace" href="{% url 'registrarOrden' %}"> Nueva orden </a>
    <br>
    <a class="enlace" href="{% url 'listarOrdenesEntregadas' %}"> Confirmar orden </a>
    <br>
    <a class="enlace" href="{% url 'listarOrdenesRechazadas' %}"> Ordenes rechazadas </a>
    <br><br>
    <a class="text-justify text-center"><b>Pagos</b></a>
    <br>
    <a class="enlace" href="{% url 'listarOrdenesAceptadas' %}"> Historial de pagos</a>
    <br><br>
    <a class="text-justify text-center"><b>Compras</b></a>
    <br>
    <a class="enlace" href="{% url 'verHistorialCompras' %}"> Historial de compras</a>
    <br><br>
    <a class="text-justify text-center"><b>Reportes</b></a>
    <br>
    <a class="enlace" href="{% url 'verEstadisticas' %}"> Estadísticas</a>
{% endblock %}

{% block contenido %}
    <p class="lead">
        Bienvenido a la zona de clientes internos de la plataforma, 
        en esta podrá realizar todas sus actividades
        de forma exclusiva, esperamos que sea de su satisfacción, en el 
        apartado izquierdo, podrá realizar las acciones que usted 
        requiera para cubrir sus necesidades.
    </p>
    {% if product_list %}
        <p class="lead">
            Tenemos mas de {{ product_list.count }} para ofrecer a usted.
        </p>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <h3>Datos comerciales</h3>
            <p class="text-justify small" >
                Usted podrá:
                <ul>
                    <li>Ingresar sus datos comerciales.</li>
                    <li>Actualizar datos comerciales.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Ordenes de compra</h3>
            <p class="text-justify small">
                <ul>
                    <li>Generar nuevas ordenes de compra.</li>
                    <li>Visualizar el estado de sus ordenes.</li>
                    <li>Dar seguimiento a sus ordenes.</li>
                    <li>Aceptar/finalizar las propuestas de productos.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Transacciones</h3>
            <p class="text-justify small">
                <ul>
                    <li>Visualizar su estado de pagos.</li>
                    <li>Ver su historial de compras.</li>
                </ul>
            </p>
        </div>
    </div>
    <div id="publicacion_ofertas">
    </div>
{% endblock %}

{% block jsBody %}
<script>
    const url = "{% url 'cargarOfertas' %}";
    var myInterval; 
    $( document ).ready(function() {
        temporizador(true);
    });

    function temporizador(activate_interval){
    if(activate_interval){
        myInterval = setInterval(function() {
            $.ajax({url: url,data: {},
                success: function (data) { 
                $("#publicacion_ofertas").html(data);}
            });
        }, 60000);
    } else {
        clearTimeout(myInterval);
    }
}
</script>

{% endblock %}
