{% if lista_ofertas %}
    <h3>Ofertas</h3>
    {% for o in lista_ofertas %}
        <b></b>{{ o.0.Description}}</b><br>
        {% if o.0.Discount %}
            <p class = "lead">
                Todos los productos en esta oferta están en un 
                {{ o.0.Discount|floatformat:0 }}% de descuento, 
                aproveche esta oportunidad. 
            </p>
        {% endif %}
        <ul>
            {% for d in o.1 %}
                <li>
                    {{ d.ProductName }} 
                    precio normal ${{ d.ActualValue|floatformat:0 }}, 
                    valor oferta ${{ d.OfferValue|floatformat:0 }},
                    {{ d.Percent }}% de descuento.  
                </li>
            {% endfor %}
        </ul>

        <hr width="810" align="left">
    {% endfor %}
{% endif %}