{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Participar en subasta
{% endblock %}

{% block contenido %}
    <div class="table-responsive justify-content-center">
        <h4>Datos de la subasta</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td  class="py-0">Subasta Nro.</td>
                    <td  class="py-0">{{ subasta.id }}</td>
                </tr>
                <tr>
                    <td class="py-0">Fecha de inicio</td>
                    <td  class="py-0">{{ subasta.AuctionDate }}</td>
                </tr>
                <tr>
                    <td class="py-0">Valor Propuesto</td>
                    <td class="py-0">${{ subasta.Value }} </td>
                </tr>
                <tr>
                    <td class="py-0">Peso de la carga</td>
                    <td class="py-0">{{ subasta.Weight }} kg</td>
                </tr>
                <tr>
                    <td class="py-0">Fecha de término</td>
                    <td class="py-0">{{ subasta.LimitDate }}</td>
                </tr>
                <tr>
                    <td class="py-0">Observación</td>
                    <td class="py-0">{{ subasta.Observation }}</td>
                </tr>
            </tbody>
        </table>
        <h4>Detalle de la subasta</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <theader>
                <th></th>
                <th>Producto</th>
                <th>Valor unitario</th>
                <th>Cantidad</th>
                <th>Valor total</th>
            </theader>
            <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td class ="text-right py-0">{{ forloop.counter }}</td>
                            <td class="py-0">{{ producto.Product }}</td>
                            <td class="py-0">{{ producto.UnitValue }}<br></td>
                            <td class="py-0">{{ producto.Quantity }}<br></td>
                            <td class="py-0">{{ producto.TotalValue }}<br></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- formulario -->
    <form id="pujaForm" method="post" url_pujas="{% url 'mostrarPujaSubasta' subasta.id %}"  url_actualizar_pujas="{% url 'actualizarPujaSubasta' subasta.id %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Valor: </td>
                <td>{{ form.Value }}</td>
                <td>
                    <button id="id_pujar" class="btn btn-m btn-success" type="submit"> Pujar </button>
                </td>
                <td>
                    <a id="linkID" class="btn btn-light mt-3" href="{% url 'listarSubastas' %}" role="button"> Cancelar </a>
                </td>
            </tr>
            <tr>
                <td colspan="4">{{ form.errors }}</td>
            </tr>

        </table>
    </form>
    <table>
        <theader>
            <th>Valor</th>
            <th>Fecha</th>
            <th>Hora</th>
        </theader>  
        <tbody id="id_pujita">
        </tbody>
    </table>
{% endblock %}

{% block jsBody %}
    <script>
        const url = $("#pujaForm").attr("url_pujas");
        const url_actualizar = $("#pujaForm").attr("url_actualizar_pujas");
        $("#pujaForm").submit(function() {
            let puja_value = $("#id_Value").val();
            $.ajax({url: url,data: {'value': puja_value},
                success: function (data) { 
                $("#id_pujita").html(data);}
            });
            return false;
        });
        var myInterval = setInterval(function() {
            $.ajax({url: url_actualizar,data: {},
                success: function (data) { 
                $("#id_pujita").html(data);}
            });
        }, 1000);

        $('#linkID').on("click", function() {
            if (typeof myInterval != 'undefined') clearTimeout(myInterval);
        });
    </script>
{% endblock %}


