{% extends 'core/base-inicial.html' %}
{% load static %}

{% block titulo %}
    Participar en subasta
{% endblock %}

{% block contenido %}
    <div class="table-responsive justify-content-center">
        <h4>Datos de la subasta</h4>
        <table class="table table-striped table-hover bg-light border border-light text-justify text-black" style="margin-left:auto; margin-right:auto;">
            <tbody class="justify-content-center">
                <tr>
                    <td  class="px-5">Subasta Nro.</td>
                    <td  class="px-5">{{ subasta.id }}</td>
                </tr>
                <tr>
                    <td class="px-5">Fecha de inicio</td>
                    <td  class="px-5">{{ subasta.AuctionDate }}</td>
                </tr>
                <tr>
                    <td class="px-5">Valor Propuesto</td>
                    <td class="px-5">${{ subasta.Value }} </td>
                </tr>
                <tr>
                    <td class="px-5">Peso de la carga</td>
                    <td class="px-5">{{ subasta.Weight }} kg</td>
                </tr>
                <tr>
                    <td class="px-5">Fecha de término</td>
                    <td class="px-5">{{ subasta.LimitDate }}</td>
                </tr>
                <tr>
                    <td class="px-5">Observación</td>
                    <td class="px-5">{{ subasta.Observation }}</td>
                </tr>
                <tr>
                    <td class="px-5">Nombre de la compañia</td>
                    <td class="px-5">{{ subasta.CompanyName }}</td>
                </tr>
                <tr>
                    <td class="px-5">Destino y método de contacto</td>
                    <td class="px-5">{{ subasta.Destination }}<br>
                        {{ subasta.PhoneNumber }}</td>
                </tr>
            </tbody>
        </table>
        <h4>Detalle de la subasta</h4>
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <theader>
                <th></th>
                <th>Producto</th>
                <th>Valor unitario</th>
                <th>Cantidad</th>
                <th>Valor total</th>
            </theader>
            <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td class ="text-right py-0">{{ forloop.counter }}</td>
                            <td class="py-0">{{ producto.Product }}</td>
                            <td class="py-0">{{ producto.UnitValue }}<br></td>
                            <td class="py-0">{{ producto.Quantity }}<br></td>
                            <td class="py-0">{{ producto.TotalValue }}<br></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    <!-- formulario -->
    <div class="container col-md-3 pt-3">
        <form id="pujaForm" method="post" valor_max="{{ subasta.Value }}" url_pujas="{% url 'mostrarPujaSubasta' subasta.id %}"  url_actualizar_pujas="{% url 'actualizarPujaSubasta' subasta.id %}" style="margin-left:auto; margin-right:auto;">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Valor: </td>
                    <td>{{ form.Value }}</td>
                    <td>
                        <button id="id_pujar" class="btn btn-m btn-success" type="submit"> Pujar </button>
                    </td>
                    <td>
                        <a id="linkID" class="btn btn-light" href="{% url 'listarSubastas' %}" role="button"> Cancelar </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">{{ form.errors }}</td>
                </tr>
            </table>
        </form>
    </div>

    <h4>Top de postores</h4>
    <table class="table table-hover table-hover table-striped">
        <theader>
            <th>Puesto</th>
            <th>Postor</th>
            <th>Valor</th>
            <th>Fecha</th>
            <th>Hora</th>
        </theader>  
        <tbody id="id_pujita">
        </tbody>
    </table>
{% endblock %}

{% block jsBody %}
    <script type="text/javascript" src="{% static 'core/js/transportista/subasta/subasta-pujar.js' %}"></script>
{% endblock %}



