{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Feria Virtual - Maipo Grande
{% endblock %}

{% block contenido %}
    <p class="lead">
        Programa desarrollado para el ramo de portafolio
        de título de la carrera de "Ingeniería en informática"
        en la escuela de informática y telecomunicaciones, DUOC UC.
    </p>
    <p class="lead"> 
        Los alumnos que integran el equipo de trabajo son los siguientes:
        <ul>
            <li>Claudio Arenas Carril</li>
            <li>Matías Avalos Arcos</li>
            <li>Daniel García Asathor</li>
            <li>Lucas Repetto Asencio</li>
        </ul>
    </p>
    <p class="lead">
        Profesor encargado del ramo "Jose Luís Quiroga Parraga."
    </p>
{% endblock %}