{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Feria Virtual - Maipo Grande
{% endblock %}

{% block contenido %}
    <p class="lead">
        Programa desarrollado para el ramo de portafolio
        de título de la carrera de "Ingeniería en informática"
        en la escuela de informática y telecomunicaciones, DUOC UC.
    </p>
    <p class="lead"> 
        Los alumnos que integran el equipo de trabajo son los siguientes:
        <ul>
            Claudio Arenas Carril
            <br>
            Matías Avalos Arcos
            <br>
            Daniel García Asathor
            <br>
            Lucas Repetto Asensio
            <br>
        </ul>
    </p>
    <p class="lead">
        Profesor encargado del ramo "Jose Luís Quiroga Parraga."
    </p>
{% endblock %}