{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Feria virtual - Maipo Grande.">
    <meta name="author" content="Daniel García Asathor">
    <title>Feria virtual - Maipo Grande</title> 
    <link rel="icon" href="{% static 'core/img/mg-favicon.png' %}">
  
    <!-- Cargando css -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/font-awesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/sticky-footer-navbar.css' %}">

    {% block jsHead %}
    {% endblock %}
  </head>

  <body class="text-dark bg-light text-justify" style="background-color: silver;">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-sm p-0 navbar-light" style="background-color: darkslategray;">
      <div class="container">
        <img src="{% static 'core/img/mg-favicon.png' %}" alt="Maipo Grande - Feria virtual" style="width: 50px; height:50px;">
        <h1 class="navbar-brand js-scroll-trigger" style="color: white;"> Maipo Grande</h1>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if not request.user.is_authenticated %}
              <li class="nav-item mx-0 mx-lg-1 {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link py-0 px-1 px-lg-3 rounded js-scroll-trigger" 
                  href="{% url 'home' %}" style="color: white;">Inicio</a>
                </li>
            {% else %}
              <li class="nav-item mx-0 mx-lg-1 {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger" 
                  href="{% url 'dinamicHome' %}" style="color: white;">Inicio</a>
                </li>
            {% endif %}
            <li class="nav-item mx-0 mx-lg-1 {% if request.path == '/about/' %}active{% endif %}">
              <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger" 
                href="{% url 'about' %}" style="color: white;">Acerca de</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item mx-0 mx-lg-1 {% if request.path == '/contact/' %}active{% endif %}">
                <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger" 
                  href="{% url 'contact' %}" style="color: white;">Registro</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger" 
                  href="{% url 'login' %}" style="color: white;">Iniciar sesión</a>
              </li>
            {% else %}
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger" 
                  href="{% url 'logout' %}" style="color: white;">Cerrar sesión</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-0 px-2 px-lg-3 rounded js-scroll-trigger small mt-1" style="color: white;">
                  {{ request.user.first_name }}
              </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <header class="text-center text-black p-2" style="background-color: darkslategray;">
      <h1 style="color: white;">
        {% block titulo %}
        {% endblock %}
      </h1>
    </header>

    <!-- contenido principal -->
    <main role="main">
      <div class="jumbotron text-center">
        <h1 class="display-4">¡Bienvenido!</h1>
        <p class="lead">Maipo Grande busca facilitar la comercialización de los productos
        frutales de sus diferentes clientes en el mercado extranjero y local.</p>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-4">
            <h3>¿Como registrarse en Feria virtual?</h3>
            <p class="text-justify small">
              Visita nuestra página web en www.feriavirtual.maipogrande.cl y solicita tu ingreso,
              debes llenar el formulario de solicitud con los datos que son requeridos para generar
              su cuenta y nosotros realizaremos tu registro.
            </p>
          </div>
          <div class="col-md-4">
            <h3>Registra tus productos en nuestra plataforma</h3>
            <p class="text-justify small">
              Como productor puedes registrar tus productos para que los podamos ofrecer a nuestros clientes externos,
              tan solo debes ingresar estos en tu pagina de perfil y nuestros ejecutivos te informarán del proceso
              que tus productos sean seleccionados por nuestros clientes externos o locales.
            </p>
          </div>
          <div class="col-md-4">
            <h3>Solicita tus productos</h3>
            <p class="text-justify small">
              Como cliente interno o externo, puedes solicitar productos que necesite,
              solamente requiere que ingrese su solicitud de productos y nuestro sistema
              buscará los productos idoneos que se ajusten a su necesidad.
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid  text-justify">
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'core/img/fruit.jpg' %}" alt="">
              <div class="card-body">
                <h4 class="card-title">Productos</h4>
                <p class="card-text">
                  En Feria Virtual puedes gestionar compras y ventas de producto nacional e internacional con tan sólo unos clicks
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'core/img/vehicle.jpg' %}" alt="">
              <div class="card-body">
                <h4 class="card-title">Despachos</h4>
                <p class="card-text">
                  Puedes contratar u ofrecer servicios de transporte para tus procesos de venta sin importar las fronteras
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="{% static 'core/img/statistics.jpg' %}" alt="">
              <div class="card-body">
                <h4 class="card-title">Estadísticas</h4>
                <p class="card-text">
                Entiende tu negocio de una manera más profunda gracias a nuestro avanzado sistema de reportes
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Copyright Section-->
    <footer>
      <div class="copyright py-5 text-center text-muted bg-light">
        <div class="container">
          <small>
            Feria virtual - Maipo Grande desarrollado por:<br>
            Claudio Arenas, Matías Avalos, Daniel García, Lucas Repetto<br>
            Copyright © 2020
          </small>
        </div>
    </footer>


    <!-- carga de script -->
    <script type="text/javascript" src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/vendor/popper/popper.min.js' %}"></script>
    {% block jsBody %}
    {% endblock %}

  </body>
</html>