{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %}
    Actualización de datos comerciales
{% endblock %}

{% block contenido %}
    <form class="text-justify border border-light p-5" method="post" id="comercialForm" urlCiudades="{% url 'cargarCiudades' %}">
        <p class="lead text-center ">
            Actualice sus datos comerciales, cuando este listo, pulse el botón "Grabar".
        </p>
        <div class="form-row mb-4">
            {% csrf_token %}
            {% if form.non.field.errors %}
                {{ form.non.field.errors }}
            {% endif %}
            {{ form|bootstrap }}
        </div>
        <button type="submit" class="btn btn-success mt-3">Grabar</button>
        <a class="btn btn-light" href="{% url 'verComercial' %}" role="button"> Cancelar </a>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_Country").change(function () {
            const url = $("#comercialForm").attr("urlCiudades");
            const countryId = $(this).val();
            $.ajax({url: url,data: {'country_id': countryId},
                success: function (data) { 
                $("#id_City").html(data);}
            });
        });
    </script>

{% endblock %}