{% extends 'core/base.html' %}

{% block titulo%}
    Feria virtual - Maipo Grande
{% endblock %}

{% block contenido %}
    <p class="lead">
        Maipo Grande busca facilitar la comercialización de los productos 
        frutales de sus diferentes clientes en el mercado extranjero y local.
    </p>

    <div class="row">
        <div class="col-md-4">
            <h3>¿Como registrarse en Feria virtual?</h3>
            <p class="text-justify small" >
                Visita nuestra página web en www.feriavirtual.maipogrande.cl y solicita tu ingreso,
                debes llenar el formulario de solicitud con los datos que son requeridos para generar
                su cuenta y nosotros realizaremos tu registro.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Registra tus productos en nuestra plataforma</h3>
            <p class="text-justify small">
                Como productor puedes registrar tus productos para que los podamos ofrecer a nuestros clientes externos, 
                tan solo debes ingresar estos en tu pagina de perfil y nuestros ejecutivos te informarán del proceso
                que tus productos sean seleccionados por nuestros clientes externos o locales.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Solicita tus productos</h3>
            <p class="text-justify small">
                Como cliente interno o externo, puedes solicitar productos que necesite, 
                solamente requiere que ingrese su solicitud de productos y nuestro sistema 
                buscará los productos idoneos que se ajusten a su necesidad.
            </p>

        </div>
    </div>

{% endblock %}