{% extends 'core/base.html' %}

{% block titulo %}
    Productor
{% endblock %}

{% block contenido %}
    <p class="lead">
        Bienvenido a la zona de productores de la plataforma, 
        en esta podrá realizar todas sus actividades
        de forma exclusiva, esperamos que sea de su satisfacción, en los 
        apartados inferiores podrá realizar las acciones que usted 
        requiera para cubrir sus necesidades.
    </p>
    <div class="row">
        <div class="col-md-4">
            <h3>datos comerciales</h3>
            <p class="text-justify small" >
                Usted podrá:
                <ul>
                    <li>Ingresar sus datos comerciales.</li>
                    <li>Actualizar datos comerciales.</li>
                </ul>
            </p>
            <p>
                <a class="btn btn-block btn-success" 
                    href="{% url 'verComercial' %}" role="button"> Ir &raquo;</a
            </p>
        </div>
        <div class="col-md-4">
            <h3>Productos</h3>
            <p class="text-justify small">
                <ul>
                    <li>Ingresar nuevos productos.</li>
                    <li>Actualizar información de sus productos.</li>
                    <li>Visualizar el estado de sus productos.</li>
                </ul>
            </p>
            <p>
                <a class="btn btn-block btn-success" 
                    href="{% url 'actualizarListaDeProductos' %}" role="button"> Ir &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Transacciones</h3>
            <p class="text-justify small">
                <ul>
                    <li>Visualizar su estado de ventas.</li>
                    <li>Ver su historial de ventas.</li>
                </ul>
            </p>
            <p><a class="btn btn-block btn-success" href="" role="button"> Ir &raquo;</a></p>
        </div>
    </div>

{% endblock %}