{% extends 'core/base.html' %}

{% block titulo %}
    Transportista
{% endblock %}

{% block contenido %}
    <p class="lead">
        Bienvenido a la zona de transportistas de la plataforma, 
        en esta podrá realizar todas sus actividades
        de forma exclusiva, esperamos que sea de su satisfacción, en los 
        apartados inferiores podrá realizar las acciones que usted 
        requiera para cubrir sus necesidades.
    </p>

    <div class="row">
        <div class="col-md-4">
            <h3>datos comerciales</h3>
            <p class="text-justify small" >
                Usted podrá:
                <ul>
                    <li>Ingresar sus datos comerciales.</li>
                    <li>Actualizar datos comerciales.</li>
                </ul>
            </p>
            <p>
                <a class="btn btn-block btn-success" 
                    href="{% url 'verComercial' %}" role="button"> Ir &raquo;</a
            </p>
        </div>
        <div class="col-md-4">
            <h3>Transportes</h3>
            <p class="text-justify small">
                <ul>
                    <li>Ingresar nuevos transportes.</li>
                    <li>Actualizar información de sus transportes.</li>
                    <li>Visualizar el estado de sus transportes.</li>
                </ul>
            </p>
            <p><a class="btn btn-block btn-success" href="" role="button"> Ir &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Transacciones</h3>
            <p class="text-justify small">
                <ul>
                    <li>Visualizar su estado de transportes.</li>
                    <li>Ver su historial de trabajos.</li>
					<li>Postular a subastas de transportes de pedidos.</li>
                </ul>
            </p>
            <p><a class="btn btn-block btn-success" href="" role="button"> Ir &raquo;</a></p>
        </div>
    </div>

{% endblock %}