{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Datos comerciales
{% endblock %}

{% block contenido %}
    <p class lead text-justify">
        Nuestros registros mantienen la información comercial siguiente, 
        si desea actualizar dichos datos, tan solo debe presionar el  
        botón "Actualizar" que se encuentra bajo su información."
    </p>
    <div class="table-responsive justify-content-center">
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td>Identificación de la empresa</td>
                    <td>
                        {{ comercial.CompanyName }}<br>
                        "{{ comercial.FantasyName }}"<br>
                        Rut/Dni: {{ comercial.ComercialDNI }}<br>
                        Giro: {{ comercial.ComercialBusiness }}
                    </td>
                </tr>
                <tr>
                    <td>Dirección comercial</td>
                    <td>
                        {{ comercial.Address }}<br>
                        {{ comercial.City.CityName }}, {{ comercial.Country.CountryName }}
                    </td>
                </tr>
                <tr>
                    <td>Metodos de contacto</td>
                    <td>
                        Teléfono: {{ comercial.Country.CountryPrefix }} {{ comercial.PhoneNumber }}<br>
                        Email: {{ comercial.Email }}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a class="btn btn-light" href="{% url 'editarComercial' comercial.id %}" role="button"> Actualizar </a>
    <a class="btn btn-light" href="{% url 'eliminarComercial' comercial.id %}" role="button"> Eliminar </a>
    <a class="btn btn-light" href="{% url 'dinamicHome' %}" role="button"> Volver </a>
{% endblock %}