.lateral{
  background-color: gray;
}


.enlace:link{
  text-decoration: none;
  color: black;
}

.enlace:hover {
  padding: 1px 5px 1px 5px;
  background-color: red;
  color: white;
  text-decoration: none;
}