{% extends 'core/base-inicial.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %}
  Inicio de sesión
{% endblock %}

{% block contenido %}
  <form class="text-justify border border-light p-5" method="POST">
    <p class="lead mb-4 px-5">
      Ingrese sus credenciales de inicio de sesión, luego presione el botón "Entrar".
    </p>
    <div class="form-group col-4 text-center" style="self">
    {% csrf_token %}
    {% if form.non.field.errors %}
      {{ form.non.field.errors }}
    {% endif %}
    {{ form|bootstrap }}
  </div>
    <button type="submit" class="btn btn-success mt-3">Iniciar Sesión</button>
  </form>
{% endblock %}