{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Lista de vehículos registrados
{% endblock %}

{% block contenido %}
    <!-- busqueda de vehiculos por patente -->
    <div class="row">
        <div class="col-sm-6">
            <form class="form-inline my-2 my-lg-0" action="{% url 'listarVehiculos' %}" method="get" accept-charset="utf-8">
                <label class="control-label" for="buscar">Patente del vehículo:</label>
                <input name="q" class="form-control mr-sm-2" type="text" aria-label="buscar" value="">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar </button>
            </form>
        </div>
        <div class="col-sm-6">
            <div style="display: flex;">
                <a class="btn btn-secondary"
                    href="{% url 'actualizarListaVehiculos' %}" role="button" style="margin-right: 20px;"> Actualizar lista</a>
                <br>
                <a class="btn btn-primary" href="{% url 'registrarVehiculo' %}" role="button"> Nuevo vehículo </a>
            </div>
        </div>
    </div>
    <hr class="col-12">
    
    <!-- Listando los vehiculos -->
    {% if vehicle_list %}
        <table class="table table-responsive table-hover table-striped mx-auto" style="width: 750px;">
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Modelo</th>
                    <th>Tipo transporte</th>
                    <th>Capacidad (KG)</th>
                    <th>Disponibilidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="py-0">
                {% for vehiculo in vehicle_list %}
                    <tr>
                        <td class="py-0" style="text-transform: uppercase">{{ vehiculo.VehiclePatent }}</td>
                        <td class="py-0" style="text-transform: uppercase">{{ vehiculo.VehicleModel }}</td>
                        <td class="py-0" style="text-transform: uppercase">{{ vehiculo.VehicleType.VehicleTypeDescription }}</td>
                        <td class="text-right py-0">{{ vehiculo.VehicleCapacity }} (KG)</td>
                        {% if vehiculo.VehicleAvailable %}
                            <td class="text-center py-0" style="text-transform: uppercase">Disponible</td>
                        {% else %}
                            <td class="text-center py-0" style="text-transform: uppercase">Inhabilitado</td>
                        {% endif %}
                        <td class="py-0">
                            <a class="btn btn-light"
                                href="{{ vehiculo.get_absolute_url }}" role="button"> Ver detalles </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Menú de paginación -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;&laquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li><li class="page-item "><a class="page-link" href="?page=last">&raquo;&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    <!-- Aqui parte la seccion cuando no hay nada ingresado -->
    {% else %}
        <p class="lead text-justify">
            No hay vehículos registrados o 
            la busqueda no produjo ningún resultado.<br>
        </p>
    {% endif %}

    <!-- volver a la pagina de inicio -->
    <br>
    <a class="btn btn-secondary" href="{% url 'dinamicHome' %}" role="button"> Volver a página de inicio </a>
{% endblock %}
