{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Lista de despachos
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col col-6">
            <form class="form-inline my-2 my-lg-0" action="#" method="get" accept-charset="utf-8">
                <label class="control-label" for="buscar">Fecha desde:</label>
                <input name="q1" class="form-control mr-sm-2" type="date" aria-label="buscar" value="">
                <label class="control-label" for="buscar">Hasta:</label>
                <input name="q2" class="form-control mr-sm-2" type="date" aria-label="buscar" value="">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar </button>
            </form>
        </div>
        <div class="col col-1"></div>
        <div class="col col-2">
            <a class="btn btn-secondary" 
                href="{% url 'actualizarListaDespachos' %}" role="button"> Actualizar lista</a>
        </div>
        <div class="col col-1"></div>
        <!-- <div class="col col-2">
            <a class="btn btn-primary" 
                href="{% url 'registrarOrden' %}" role="button"> Nueva orden</a> -->
        </div>
    </div>
    <hr class="col-12">
    
    <!-- Listando las ordenes de compra -->
    {% if orderdispatch_list %}
        <table class="table table-hover table-striped mx-auto" style="width: 900px;">
            <thead>
                <tr>
                    <th>Orden Nro.</th>
                    <th>Fecha de inicio</th>
                    <th>Valor propuesto</th>
                    <th>Peso de la carga</th>
                    <th>Observación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody class="py-0">
                {% for dispatch in orderdispatch_list %}
                <tr>
                    <td class="text-right py-0">{{ dispatch.id }}</td>
                    <td class="py-0">{{ dispatch.DispatchDate }}</td>
                    <td class="py-0">{{ dispatch.DispatchValue }}</td>
                    <td class="py-0">{{ dispatch.DispatchWeight }} kg</td>
                    <td class="py-0">{{ dispatch.Observation }}</td>
                    {% if dispatch.Status == 5 %}
                    <td class="py-0">Por entregar</td>
                    {% elif dispatch.Status == 6 %}
                    <td class="py-0">Entregado</td>
                    {% elif dispatch.Status == 9 %}
                    <td class="py-0">Cancelado</td>
                    {% endif %}
                    <td class="py-0">
                        <a class="btn btn-light" 
                            href="{{ dispatch.get_cambiar_estado_url }}" role="button"> Ver Detalle </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Menú de paginación -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;&laquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li><li class="page-item "><a class="page-link" href="?page=last">&raquo;&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    <!-- Aqui parte la seccion cuando no hay nada ingresado -->
    {% else %}
        <p class="lead text-justify">
            No hay despachos disponibles o 
            la busqueda no produjo ningún resultado.<br>
        </p>
    {% endif %}

    <!-- volver a la pagina de inicio -->
    <br>
    <div class="text-center">
    <a class="btn btn-secondary" href="{% url 'dinamicHome' %}" role="button"> Volver página de inicio </a>
    </div>

{% endblock %}