{% extends 'core/base-inicial.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %}
    Cancelar Despacho
{% endblock %}

{% block contenido %}
    <form class="text-justify border border-light p-5" method="post" id=contractForm>
        <p class="lead text-center">
            Si desea enviar una observación al cancelar el despacho, 
            por favor ingrese este en la caja de observación y 
            posteriormente presione el botón enviar.
        </p>
        {% csrf_token %}
        {% if form.non.field.errors %}
            {{ form.non.field.errors }}
        {% endif %}
        <table class="tabla table-responsive">
            {{ form }}
        </table>
        <button type="submit" class="btn btn-success mt-3">Enviar cancelación de despacho</button>
        <a class="btn btn-light" href="{% url 'dinamicHome' %}" role="button"> Cancelar </a>
    </form>
{% endblock %}