{% extends 'core/base.html' %}

{% block titulo %}
    Productor
{% endblock %}

{% block menu %}
    <a class="enlace" href="{% url 'iniciarComercial' %}">Datos comerciales</a>
    <br><br>
    <a class="text-justify text-center font-weight-bold" style="color: white;">Productos</a>
    <br>
    <a class="enlace" href="{% url 'actualizarListaProductos' %}">Lista de productos</a>
    <br>
    <a class="enlace" href="{% url 'registrarProducto' %}">Agregar producto</a>
    <br><br>
    <a class="text-justify text-center font-weight-bold" style="color: white;">Contratos</a>
    <br>
    <a class="enlace" href="{% url 'listarContratos' %}">Lista de contratos</a>
{% endblock %}

{% block contenido %}
    <p class="lead text-justify">
        Bienvenido a la zona de productores de la plataforma,
        en esta podrá realizar todas sus actividades
        de forma exclusiva, esperamos que sea de su satisfacción, en el
        apartado izquierdo, podrá realizar las acciones que usted
        requiera para cubrir sus necesidades.
    </p>
    <div class="row">
        <div class="col-md-4">
            <h3>Datos comerciales</h3>
            <p class="text-justify small">
                Usted podrá:
                <ul>
                    <li>Ingresar sus datos comerciales.</li>
                    <li>Actualizar datos comerciales.</li>
                </ul>
        </div>
        <div class="col-md-4">
            <h3>Productos</h3>
            <p class="text-justify small"></p>
            <ul>
                <li>Ingresar nuevos productos.</li>
                <li>Actualizar información de sus productos.</li>
                <li>Visualizar el estado de sus productos.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Transacciones</h3>
            <p class="text-justify small"></p>
            <ul>
                <li>Visualizar su estado de ventas.</li>
                <li>Ver su historial de ventas.</li>
            </ul>
        </div>
    </div>
{% endblock %}
