{% extends 'core/base.html' %}

{% block titulo %}
    Detalle de producto
{% endblock %}

{% block contenido %}
    <p class lead text-justify">
        El detalle del producto se muestra en la tabla siguiente, cabe señalar que 
        los valores indicados son aplicados según las medidas 
        estandares del pais del productor, por lo tanto, 
        el valor esta expresado en dolares y el peso en kilogramos (KG).
    </p>
    <div class="table-responsive justify-content-center">
        <table class="table table-striped table-hover col-6 bg-light border border-light p-5 text-justify text-black">
            <tbody>
                <tr>
                    <td>Producto</td>
                    <td>{{ producto.ProductName }}</td>
                </tr>
                <tr>
                    <td>Valor del kilogramo<br>Expresado en dolares</td>
                    <td>{{ producto.ProductValue }}</td>
                </tr>
                <tr>
                    <td>Cantidad puesta a la venta<br>(en kilogramos (KG))</td>
                    <td>{{ producto.ProductQuantity }}</td>
                </tr>
                <tr>
                    <td>Observaciones del producto</td>
                    <td>{{ producto.Observation }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a class="btn btn-light" 
        href="" role="button"> Actualizar producto </a>
    <a class="btn btn-light" 
        href="" role="button"> Eliminar producto </a>
    <a class="btn btn-light" 
        href="{% url 'listaDeProductos' %}" role="button"> Volver </a>
{% endblock %}