{% extends 'core/base-inicial.html' %}
{% load static %}
{% load bootstrap %}

{% block titulo %}
    Actualización de productos
{% endblock %}

{% block contenido %}
    <form class="text-justify border border-light p-5" method="post" id=productForm>
        <p class="lead text-center">
            Actualice su producto, cuando este listo, pulse el botón "Grabar".
        </p>
        {% csrf_token %}
        {% if form.non.field.errors %}
            {{ form.non.field.errors }}
        {% endif %}
        <table class="tabla table-responsive">
            {{ form }}
        </table>
        <button type="submit" class="btn btn-success mt-3">Actualizar producto</button>
        <a class="btn btn-light" href="{% url 'listarProductos' %}" role="button"> Cancelar </a>
    </form>
{% endblock %}