{% extends 'core/base-inicial.html' %}

{% block titulo %}
    Eliminar producto
{% endblock %}

{% block contenido %}
    <form class="text-justify border border-light p-5" method="post" id="comercialForm" urlCiudades="{% url 'cargarCiudades' %}">
        <p class="lead text-justify ">
            ¿Esta seguro de eliminar el producto 
            {{ producto.ProductName }}, 
            con el precio de ${{ producto.ProductValue }} y que registra la 
            cantidad de {{ producto.ProductQuantity }} kilos?<br>
        </p>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3"> Eliminar producto </button>
        <a class="btn btn-success" href="{% url 'listarProductos' %}" role="button"> Cancelar </a>
    </form>
{% endblock %}